/*Typografi*/
/*overskrift font. Fra google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Brødtekst*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*variabler*/
:root{
    /*Farve variabler*/
    --softBrown: #5E544A;
    --backgroundColor: #F3EFE7;
    --textColor: #4D4743;
    --mossGreen: #566A5A;
    --warmYellow: #E0BF90;
    
    /*spacing variabler*/
    --space_mobilSmall: 8px;
    --space_mobilMediumElementer: 16px;
    --space_mobillargeIndhold: 24px;
    --space_mobilSection: 32px;
    
    /*omdøm så det passer med figma*/
    --space_desktopSmall: 15px;
    --space_desktopMediumElementer: 25px;
    --space_desktoplargeIndhold: 50px;
    --space_desktopSection: 75px;
    
    /*Font sizes*/
    --mobil_fs_h1: 1.5rem;
    --mobil_fs_h2: 1.25rem;
    --mobil_fs_h3: 1rem;
    --mobil_fs_p: 1rem;
    
    --desktop_fs_h1: 3.5rem;
    --desktop_fs_h2: 3rem;
    --desktop_fs_h3: 2.5rem;
    --desktop_fs_p: 1.125rem;

    /*Font styles*/
    
    /*border radius*/
    --border_radius_image: 5px;
    
    
}

/*Generelt styling*/
*{
    box-sizing: border-box;
    margin: 0;
    background-color: var(--backgroundColor);
}

h1, h2, h3, h4, a, button{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: var(--mobil_fs_h1);
}

h2 {
    font-size: var(--mobil_fs_h2);
}

h3 {
    font-size: var(--mobil_fs_h3);
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: var(--mobil_fs_p);
}

@media  screen and (min-width: 900px) {
    h1{
        font-size: var(--desktop_fs_h1);
    }
    h2{
        font-size: var(--desktop_fs_h2) ;
    }
    h3{
        font-size: var(--desktop_fs_h3);
    }
    p{
        font-family: "Montserrat", sans-serif;
        font-size: var(--desktop_fs_p);
    }
}
section{
    margin-inline: 7.5rem;
}
/*buttons*/
.btn_book{
    background-color: var(--mossGreen);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav button, a{
    font-size: 1.5rem;
    color: var(--textColor);
}
/*Global navigation*/
nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding-inline: var(--space_desktopMediumElementer);
   
}
.globalNav{
    display: flex;
    a{
        text-decoration: none;
        color: var(--textColor);
    }
}
#menu{
    display: none;
}
.navcontainer{
    ul{
        display: flex;
        gap: 1rem;
    }
    li{
        list-style-type: none;
    }
}
.dropdownIndhold{
    display: none;
    flex-direction: column;
    /*vi placere dropdwn indholdet i toppen og til venstre*/
    position: absolute;
    top: 100%;
    right: 0;
/*sætter width til 100% så den følger knappens bredde i dropdown*/
    width: 100%;
    background-color: var(--backgroundColor);
    a{
        border: solid 2px var(--textColor);
        padding: 1rem;
    }
}
/* .dropdown:hover .dropdownIndhold{
    display: flex;
} */

.dropdown{
    position: relative;
}
.dropbtn{
    border: none;
}
/*class der sættes på dropdown links div, når der klikkes på knappen*/
.show{
    display: flex;
}
/*mobil nav*/
@media screen and (max-width: 900px){
    #menu{
        display: flex;
        /*sørger for at burgermenu ikke forsvinder bagved*/
        z-index: 1000;
    }
    .globalNav{
        display: none;
        /* justify-content: space-between; */
    }
    .globalNav.active{
        display: flex;
    }
    .navcontainer ul{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0%;
        width: 70%;
        background-color: var(--warmYellow);
        padding: 1rem;
        z-index: 1000;
        border-radius: 0 0 0 5px;
        li, a, .dropbtn, .dropdown, .fa-solid {
            background-color: var(--warmYellow);
        }
      li{
        padding-top: var(--space_mobilMediumElementer);
      }
    }
    nav{
        align-items: flex-start;
        padding-top: 1.25rem;
    }
    /*så den ikke går over indholdet, men skubber indholdet ned i menuen på mobil*/
    .dropdownIndhold{
        position: relative;
    }
    /*book knap forsiden*/
    /*placering af knappen i midten, ellers vil den hoppe/flytte sig når der trykkes/åbnes mobil nav*/
    .btn_book{
        position: absolute;
        right:20%;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    /*sikre at vores dropdown btn står pænt til venstre, sammen med de andre links*/
    .dropbtn{
        padding-left: 0;
    }
}
/*Forsiden*/
.heroimage{
    max-width: 100vw;
    max-height: 80vh;
   
}
video{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}
/*Undersider*/

/*Komponenter*/
